<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="onBackHome()">Back</ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="fixed">Birthday</ion-label>
      <ion-datetime-button slot="end" datetime="date" required></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="date"
            presentation="date"
            [preferWheel]="true"
            [showDefaultButtons]="true"
            doneText="All set"
            cancelText="Nevermind">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button shape="round" (click)="onSignUp()">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
